
html {
    scroll-behavior: smooth;
}

/* Hero Image and Overlay Styles */
.home-container {
    height: 100vh;
    background: url('../img/pages/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.432);
}
/* END Hero Image and Overlay Styles */

/* Heading Styles */
.main-heading {
    position: absolute;
    bottom: 18%;
    width: 100%;
    font-family: abril-fatface, sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    padding: 0%;
    height: 127px;
}

.sub-heading {
    position: absolute;
    bottom: 3%;
    color: #efa484;
    text-align: center;
    font-family: aileron, sans-serif;
    font-weight: 100;
    width: 100vw;
    letter-spacing: 0.05em;
    line-height: 30px;
}

.left-heading {
    position: fixed;
    font-family: abril-fatface, sans-serif;
    font-size: 80px;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    color: #efa484;
    font-style: italic;
    margin: 0;
    box-sizing: content-box;
    width: 69px;
    top: 80px;
    z-index: 6;
}

.right-heading {
    position: fixed;
    right: -12px;
    font-family: abril-fatface, sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: #efa484;
    margin: 0;
    box-sizing: content-box;
    width: 69px;
    bottom: 3%;
    z-index: 6;
}
/* END Heading Styles */

/* Nav Styling */
.navbar {
    height: 40px;
    padding: 30px;
}

.navbar a {
    text-align: right;
}

.navbar-brand {
    color: white;
    font-size: 32px;
    font-family: abril-fatface,sans-serif;
    letter-spacing: 0.05em;
    padding: 0%;
}

.nav-link {
    color: white;
    font-family: aileron, sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}

.btn {
    font-family: abril-fatface,sans-serif;
    font-size: 19px;
    color: white;
    font-style: italic;
}

.btn:hover {
    color: #efa484;
}

.dropdown {
    border: none !important;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    text-align: right;
}

.dropdown-item {
    color: rgb(224, 224, 224);
    font-size: 15px;
    font-weight: 100;
}

.dropdown-item:hover {
    color: #efa484;
    background-color: transparent;
    border: none;
}
/* END Nav Styling */

/* About Page */
.about-container {
    height: 100vh;
    width: 100vw;
    background-color: #efa484;
    padding: 90px;
}

.text-block p {
    position: relative;
    text-align: justify;
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: white;
    top: 30%;
    width: 25%;
    float: right;
}

img {
    height: 100%;
}
/* END About Page */

/* Project Containers */
.project-container {
    height: auto !important;
    width: 100vw;
    color: black;
    padding: 90px 90px 0 90px;
}

.project-header {
    text-align: center;
}
/* END Project Containers */

/* Img Galleries */
#project-one-photos, #project-two-photos, #project-three-photos {
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-count: 3;
    -moz-column-gap: 40px;
    column-count: 3;
    column-gap: 40px;
}

#project-one-photos img, #project-two-photos img, #project-three-photos img {
    width: 100% !important;
    height: auto !important;
    padding-top: 40px;
}
/* END Img Galleries */

/* Text on project pages */
.project-text h2 {
    font-family: abril-fatface, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
}

.project-text h3 {
    text-align: center;
    font-family: aileron, sans-serif;
    color: #efa484;
    font-weight: 100;
    font-size: 20px;
    padding: 0%;
}

.project-text p {
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: black;
    text-align: justify;
}

.project-text-2 h2 {
    font-family: abril-fatface, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
}

.project-text-2 h3 {
    text-align: center;
    font-family: aileron, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 20px;
    padding: 0%;
}

.project-text-2 p {
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: black;
    text-align: justify;
}

#project-two {
    background-color: #efa484;
}
/* END Text on project pages */

/* iPhone Page */
#iphone-photos {
    -webkit-column-count: 2;
    -webkit-column-gap: 55px;
    -moz-column-count: 2;
    -moz-column-gap: 55px;
    column-count: 2;
    column-gap: 55px;
}

#iphone-page img {
    width: 100% !important;
    height: auto !important;
    padding-top: 40px;
}

.iphone-container {
    height: auto !important;
    width: 100vw;
    color: black;
    padding: 90px 90px 0px 90px;
}
/* END iPhone Page */

/*Contact Form*/
.contact-container {
    height: 100vh;
    background: url('../img/pages/contact-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    position: relative;
    z-index: 1;
    overflow: auto;
}

/* https://codepen.io/dfitzy/pen/VepqMq */ 
/* I took some of the css to style my own contact page from this design */ 
button {	
    overflow: visible;	
}	

button, select {	
    text-transform: none;	
}	

button, input, select, textarea {	
    color: white;	
    font: inherit;	
    margin: 0;	
}	

input {	
    line-height: normal;	
}	

textarea {	
    overflow: auto;	
}	

#contact-page {	
    border: solid 3px white;		
    max-width: 768px;
    margin: 60px auto;
    position: relative;	
    z-index: 6;	
}	

#contact-form {
    width: 100%;
    text-align: center;
}

form {	
    padding: 37.5px;	
    margin: 50px 0;	
}	

h1 {	
    color: white;	
    font-family: abril-fatface, sans-serif;	
    font-size: 50px;	
    font-weight: 400;	
    font-style: italic;	
    letter-spacing: 3px;	
    text-align: center;	
    text-transform: uppercase;	
    padding-top: 30px;	
}	

.underline {	
    border-bottom: solid 2px white;	
    margin: -0.512em auto;	
    width: 80px;	
}	

.email {	
    float: right;	
    width: 45%;	
}	


input[type='text'], [type='email'], select, textarea {	
    background: none;	
    border: none;	
    border-bottom: solid 2px white;	
    color: white;	
    font-size: 1.000em;	
    font-weight: 400;	
    letter-spacing: 1px;	
    margin: 0em 0 1.875em 0;	
    padding: 0 0 0.875em 0;	
    text-transform: uppercase;	
    width: 100%;	
    -webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-o-box-sizing: border-box;	
	box-sizing: border-box;	
	-webkit-transition: all 0.3s;	
	-moz-transition: all 0.3s;	
	-ms-transition: all 0.3s;	
	-o-transition: all 0.3s;	
	transition: all 0.3s;	
}	

input[type='text']:focus, [type='email']:focus, textarea:focus {	
    outline: none;	
    padding: 0 0 0.875em 0;	
}	

.message {	
    float: none;	
}	

.name {	
    float: left;	
    width: 45%;	
}	

textarea {	
    line-height: 150%;	
    height: 150px;	
    resize: none;	
    width: 100%;	
}	

::-webkit-input-placeholder {	
	color: white;	
}	

:-moz-placeholder { 	
	color: white;	
	opacity: 1;	
}	

::-moz-placeholder {	
	color: white;	
	opacity: 1;	
}	

:-ms-input-placeholder {	
	color: white;	
}	

#form-button {	
    background: none;	
    border: solid 2px white;	
    color: white;	
    cursor: pointer;	
    display: inline-block;	
    font-family: 'Helvetica', Arial, sans-serif;	
    font-size: 0.875em;	
    font-weight: bold;	
    outline: none;	
    padding: 20px 35px;	
    text-transform: uppercase;	
    -webkit-transition: all 0.3s;	
	-moz-transition: all 0.3s;	
	-ms-transition: all 0.3s;	
	-o-transition: all 0.3s;	
	transition: all 0.3s;	
}	

#form-button:hover {	
    background: #EFA484;	
    color: white;	
}	

#details {	
    z-index: 6;	
    color: white;	
    font-family: Helvetica, sans-serif;	
    font-size: 30px;	
    width: 450px;	
    margin-top: 400px;	
    margin-left: 339px;	
    margin-right: 200px;	
    font-weight: 100;	
    display: none;	
}
/* https://codepen.io/dfitzy/pen/VepqMq */ 
/* I took some of the css to style my own contact page from this design */ 
/*END Contact Form*/

/* Bottom Navs */
.bottom-nav {
    padding: 50px 20px 20px 20px;
}

.nav-l-2 {
    float: left;
    width: 33.3%;
    text-align: center;
    color: white;
    font-family: aileron, sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}

.nav-l-2:hover {
    color: black;
    text-decoration: none;
}

.nav-l {
    float: left;
    width: 33.3%;
    text-align: center;
    color: #EFA484;
    font-family: aileron, sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}

.nav-l:hover {
    color: black;
    text-decoration: none;
}
/* End Bottom Navs */

/* Media Queries */

@media screen and (max-width: 1024px) {
    .sub-heading {
        bottom: 9%;
    }

    .project-text h2 {
        font-size: 25px;
    }

    .project-text h3 {
        font-size: 17px;
    }

    .project-text-2 h2 {
        font-size: 25px;
    }

    .project-text-2 h3 {
        font-size: 17px;
    }

}

@media screen and (max-width: 768px) {

    .left-heading {
        font-size: 50px;
        width: 43px;
        top: 100px;
    }

    .right-heading {
        font-size: 50px;
        right: -7px;
    }

    #project-one-photos, #project-two-photos, #project-three-photos {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .project-container {
        padding: 45px 45px 0 45px;
    }

    .about-container {
        padding: 45px 45px 0 45px;
    }

    .iphone-container {
        padding: 45px 45px 0 45px;
    }

    .text-block p {
        font-size: 13px;
        width: 291px;
    }

}

@media screen and (max-width: 480px) {

    .main-heading {
        font-size: 31px;
        bottom: 9%;
    }

    .sub-heading {
        line-height: 28px;
        font-size: 11px;
        bottom: 0%;
    }

    .left-heading {
        font-size: 30px;
        width: 26px;
        top: 95px;
    }

    .right-heading {
        font-size: 30px;
        right: -4px;
        bottom: 43%;
        height: 26px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {
        font-size: 15px;
    }

    .project-container {
        padding: 30px 30px 0 30px;
    }

    .iphone-container {
        padding: 30px 30px 0 30px;
    }

    .project-text h2 {
        font-size: 30px;
    }

    #project-one-photos, #project-two-photos, #project-three-photos, #iphone-photos {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .project-container {
        padding: 32px;
    }

    .about-container {
        padding: 32px;
    }

    .text-block p {
        font-size: 13px;
        width: 100%;
        text-align: justify;
        letter-spacing: 0;
        margin-bottom: 20px;
    }

    .nav-l {
        font-size: 15px;
    }
}
/* END Media Queries */

