
html {
    scroll-behavior: smooth;
}
/* Page Containers */
.home-container {
    height: 100vh;
    background: url('../img/pages/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    position: relative;
}

.project-container, .iphone-container {
    height: auto;
    width: 100vw;
    color: rgb(0, 0, 0);
    padding: 80px 80px 0 80px;
}

.about-container {
    height: auto;
    width: 100vw;
    background-color: #EFA484;
    padding: 80px 80px 0 80px;
}

#project-two {
    background-color: #efa484;
}

.contact-container {
    height: 100vh;
    background: url('../img/pages/contact-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    overflow: -moz-hidden-unscrollable;
    position: relative;
    z-index: 5;
}

.opaque-overlay-contact {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.438);
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.637);
}
/* END Page Containers */

/* Heading Styles */ 
.main-heading {
    position: absolute;
    bottom: 250px;
    width: 100%;
    font-family: abril-fatface, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 7vw;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    padding: 10px;
    height: 127px;
}


.sub-heading {
    position: absolute;
    bottom: 61px;
    color: #efa484;
    text-align: center;
    font-family: aileron, sans-serif;
    font-weight: 100;
    width: 100vw;
    letter-spacing: 0.05em;
    line-height: 30px;
    font-size: 19px;
}

.left-heading {
    position: fixed;
    font-family: abril-fatface, sans-serif;
    font-size: 80px;
    font-weight: 400;
    writing-mode: vertical-rl;
    color: #efa484;
    font-style: italic;
    margin: 0;
    width: 69px;
    top: 80px;
    mix-blend-mode: exclusion;
    z-index: 4;
}

.right-heading {
    position: fixed;
    right: -12px;
    font-family: abril-fatface, sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
    writing-mode: vertical-rl;
    color: #EFA484;
    margin: 0;
    width: 69px;
    bottom: 13%;
    mix-blend-mode: exclusion;
    z-index: 4;
}
/* END Heading Styles */

/* Nav Styling */

.navbar {
    background-color: transparent;
    padding: 24px 68px;
}

.navbar a {
    text-align: right;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: abril-fatface,sans-serif;
    letter-spacing: 0.05em;
    padding: 0%;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: aileron, sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}

.btn {
    font-family: abril-fatface,sans-serif;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.btn:hover {
    color: #efa484;
}

.dropdown, .navbar .navbar-toggler {
    border: none;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    text-align: right;
}

.dropdown-item {
    color: rgb(225, 225, 225);
    font-size: 15px;
    font-weight: 100;
}

.dropdown-item:hover {
    color: #efa484;
    background-color: transparent;
    border: none;
}
/* END Nav Styling */

/* About Page */

.text-block p {
    position: relative;
    text-align: justify;
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: rgb(255, 255, 255);
    top: 30%;
    width: 25%;
    float: right;
}

img {
    height: auto;
}
/* END About Page */


/* Img Galleries */
#project-one-photos, #project-two-photos, #project-three-photos {
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-count: 3;
    -moz-column-gap: 40px;
    column-count: 3;
    column-gap: 40px;
}

#project-one-photos img, #project-two-photos img, #project-three-photos img, #iphone-page img {
    width: 100%;
    height: auto;
    padding-top: 40px;
}

#iphone-photos {
    -webkit-column-count: 2;
    -webkit-column-gap: 55px;
    -moz-column-count: 2;
    -moz-column-gap: 55px;
    column-count: 2;
    column-gap: 55px;
}
/* END Img Galleries */

/* Text on project pages */
.project-header {
    text-align: center;
}

.project-text-iphone h2 {
    font-family: abril-fatface, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.project-text h2, .project-text-2 h2 {
    font-family: abril-fatface, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.project-text h3 {
    text-align: center;
    font-family: aileron, sans-serif;
    color: #efa484;
    font-weight: 100;
    font-size: 20px;
    padding: 0%;
}

.project-text-2 h3 {
    text-align: center;
    font-family: aileron, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 20px;
    padding: 0%;
}

.project-text p, .project-text-2 p {
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: justify;
}

/* END Text on project pages */

/*Contact Form*/
/* https://codepen.io/dfitzy/pen/VepqMq */ 
/* I took some of the css to style my own contact page from this design */ 
button {	
    overflow: visible;	
}	

button, select {	
    text-transform: none;	
}	

button, input, select, textarea {	
    color: white;	
    font: inherit;	
    margin: 0;	
}	

input {	
    line-height: normal;	
}	

textarea {	
    overflow: auto;	
}	

#contact-page {	
    border: solid 3px rgb(255, 255, 255);		
    max-width: 768px;
    margin: 0 auto 0 auto;
    position: relative;	
    z-index: 6;
    top: 100px;	
    padding-bottom: 10px;
}	

#contact-form {
    width: 100%;
    text-align: center;
    position: relative;
}

form {	
    padding: 37.5px;	
    margin: 50px 0;	
}	

h1 {	
    color: white;	
    font-family: abril-fatface, sans-serif;	
    font-size: 50px;	
    font-weight: 400;	
    font-style: italic;	
    letter-spacing: 3px;	
    text-align: center;	
    text-transform: uppercase;	
    padding-top: 30px;	
}	

.underline {	
    border-bottom: solid 2px rgb(255, 255, 255);	
    margin: -0.512em auto;	
    width: 80px;	
}	

.email {	
    float: right;	
    width: 45%;	
}	


input[type='text'], [type='email'], select, textarea {	
    background: none;	
    border: none;	
    border-bottom: solid 2px rgb(255, 255, 255);	
    color: white;	
    font-size: 1.000em;	
    font-weight: 400;	
    letter-spacing: 1px;	
    margin: 0em 0 1.875em 0;	
    padding: 0 0 0.875em 0;	
    text-transform: uppercase;	
    width: 100%;	
    -webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-o-box-sizing: border-box;	
	box-sizing: border-box;	
	-webkit-transition: all 0.3s;	
	-moz-transition: all 0.3s;	
	-ms-transition: all 0.3s;	
	-o-transition: all 0.3s;	
	transition: all 0.3s;	
}	

input[type='text']:focus, [type='email']:focus, textarea:focus {	
    outline: none;	
    padding: 0 0 0.875em 0;	
}	

.message {	
    float: none;	
}	

.name {	
    float: left;	
    width: 45%;	
}	

textarea {	
    line-height: 150%;	
    height: 150px;	
    resize: none;	
    width: 100%;	
}	

::-webkit-input-placeholder {	
	color: white;	
}	

:-moz-placeholder { 	
	color: white;	
	opacity: 1;	
}	

::-moz-placeholder {	
	color: white;	
	opacity: 1;	
}	

:-ms-input-placeholder {	
	color: white;	
}	

#form-button {	
    background: none;	
    border: solid 2px white;	
    color: white;	
    cursor: pointer;	
    display: inline-block;	
    font-family: 'Helvetica', Arial, sans-serif;	
    font-size: 0.875em;	
    font-weight: bold;	
    outline: none;	
    padding: 20px 35px;	
    text-transform: uppercase;	
    -webkit-transition: all 0.3s;	
	-moz-transition: all 0.3s;	
	-ms-transition: all 0.3s;	
	-o-transition: all 0.3s;	
	transition: all 0.3s;	
}	

#form-button:hover {	
    background: #EFA484;	
    color: white;	
}	

.details {
    font-family: serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.socials a {
    padding: 10px;
}

.circle {
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 5em;
    height: 5em;
    color: rgb(255, 255, 255);
    float: right;
    padding: 21px;
    line-height: 17px;
}

.circle:hover {
    border: 1px sold #EFA484;
}

/* https://codepen.io/dfitzy/pen/VepqMq */ 
/* I took some of the css to style my own contact page from this design */ 
/*END Contact Form*/

#facebook-link, #instagram-link {
    padding-top: 30px;
    color: white;
}

#contact-form a:hover {
    text-decoration: none;
    color: #EFA484;
}


/* Bottom Navs */
.bottom-nav {
    padding: 50px 20px 20px 20px;
}

.nav-l-2 {
    float: left;
    width: 33.3%;
    text-align: center;
    color: rgb(80, 80, 80);
    font-family: aileron, sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}


.nav-l {
    float: left;
    width: 33.3%;
    text-align: center;
    color: rgb(150, 150, 150);
    font-family: aileron, sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}

.nav-l:hover, .nav-l-2:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.block-divider {
    padding-top: 2%;
}
/* End Bottom Navs */

/* Media Queries */

@media screen and (max-width: 1024px) {
    
    .sub-heading {
        bottom: 9%;
    }

    .project-text h2, .project-text-2 h2, .project-text-iphone h2 {
        font-size: 22px;
    }

    .project-text h3, .project-text-2 h3 {
        font-size: 15px;
    }

    img {
        width: 60%;
        height: auto;
    }

    .nav-l, .nav-l-2 {
        font-size: 19px;
    }

    .project-container, .about-container, .iphone-container {
        padding: 70px 70px 0 70px;
    }

    .project-text p, .project-text-2 p {
        font-size: 15px;
    }


}

@media screen and (max-width: 768px) {

    .main-heading {
        font-size: 66px;
        bottom: 203px;
    }


    .left-heading {
        font-size: 50px;
        width: 43px;
        top: 100px;
    }

    .right-heading {
        font-size: 50px;
        right: -7px;
    }

    #project-one-photos, #project-two-photos, #project-three-photos {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .project-container, .about-container, .iphone-container {
        padding: 45px 45px 0 45px;
    }

    .text-block p {
        font-size: 13px;
        width: 291px;
    }

    .project-text p, .project-text-2 p {
        font-size: 13px;
    }

    .nav-l .nav-l-2 {
        font-size: 18px;
    }

    img {
        width: 80%;
        height: auto;
        margin-top: 10px;
    }


}

@media screen and (max-width: 480px) {

    .main-heading {
        font-size: 31px;
        bottom: 9%;
    }

    .sub-heading {
        line-height: 28px;
        font-size: 11px;
        bottom: 0%;
    }

    .left-heading {
        font-size: 30px;
        width: 26px;
        top: 95px;
    }

    .right-heading {
        font-size: 30px;
        right: -4px;
        bottom: 43%;
        height: 26px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .navbar {
        padding: 10px 31px;
    }

    .nav-link {
        font-size: 15px;
    }

    .project-container, .iphone-container, .project-container, .about-container {
        padding: 30px 30px 0 30px;
    }

    .project-text h2, .project-text-2 h2, .project-text-iphone h2 {
        font-size: 22px;
    }

    #project-one-photos, #project-two-photos, #project-three-photos, #iphone-photos {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .text-block p {
        font-size: 13px;
        width: 100%;
        text-align: justify;
        letter-spacing: 0;
        margin-bottom: 20px;
    }

    .nav-l, .nav-l-2 {
        font-size: 15px;
    }

    h1 {
        font-size: 26px;
    }
  
    .underline {
        width: 68px;
    }
  
    #form-button {
        padding: 10px 25px;
    }

    h1 {
        font-size: 26px;
    }
  
    .underline {
        width: 68px;
    }
  
    #form_button {
        padding: 15px 25px;
    }

    img {
        width: 100%;
        height: auto;
    }

    #contact-form {
        padding: 0 10px 0 10px;
        margin: 0px;
    }
    
    .details {
        margin: 0;
        font-size: 14px;
    }

    textarea {
        height: 81px;
        margin-bottom: 16px;
    }

    .circle {
        width: 4em;
        height: 4em;
        padding: 6px;
        font-size: 12px;
    }

}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 20px;
    }
  
    .underline {
        width: 53px;
    }
  
    input[type='text'], [type='email'], select, textarea {
        font-size: 0.875em;
    }

    #contact-page {
        height: 100vh;
        margin: 0;
        top: 0px;
    }
  
}
/* END Media Queries */

