
html {
    scroll-behavior: smooth;
}

/* Hero Image and Overlay Styles */
.home-container {
    height: 100vh;
    background: url('../img/pages/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.432);
}
/* END Hero Image and Overlay Styles */

/* Heading Styles */
.main-heading {
    position: absolute;
    bottom: 18%;
    width: 100%;
    font-family: abril-fatface, sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    padding: 0%;
    height: 127px;
}

.sub-heading {
    position: absolute;
    bottom: 3%;
    color: #efa484;
    text-align: center;
    font-family: aileron, sans-serif;
    font-weight: 100;
    width: 100vw;
    letter-spacing: 0.05em;
    line-height: 30px;
}

.left-heading {
    position: fixed;
    font-family: abril-fatface, sans-serif;
    font-size: 80px;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    color: #efa484;
    font-style: italic;
    margin: 0;
    box-sizing: content-box;
    width: 69px;
    top: 80px;
    z-index: 6;
}

.right-heading {
    position: fixed;
    right: -12px;
    font-family: abril-fatface, sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: #efa484;
    margin: 0;
    box-sizing: content-box;
    width: 69px;
    bottom: 3%;
    z-index: 6;
}
/* END Heading Styles */

/* Nav Styling */
.navbar {
    height: 40px;
    padding: 30px;
}

.navbar a {
    text-align: right;
}

.navbar-brand {
    color: white;
    font-size: 32px;
    font-family: abril-fatface,sans-serif;
    letter-spacing: 0.05em;
    padding: 0%;
}

.nav-link {
    color: white;
    font-family: aileron, sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}

.btn {
    font-family: abril-fatface,sans-serif;
    font-size: 19px;
    color: white;
    font-style: italic;
}

.btn:hover {
    color: #efa484;
}

.dropdown {
    border: none !important;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    text-align: right;
}

.dropdown-item {
    color: rgb(224, 224, 224);
    font-size: 15px;
    font-weight: 100;
}

.dropdown-item:hover {
    color: #efa484;
    background-color: transparent;
    border: none;
}
/* END Nav Styling */

/* About Page */
.about-container {
    height: 100vh;
    width: 100vw;
    background-color: #efa484;
    padding: 90px;
}

.text-block p {
    position: relative;
    text-align: justify;
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: white;
    top: 30%;
    width: 25%;
    float: right;
}
/* END About Page */

/* Project Containers */
.project-container {
    height: auto !important;
    width: 100vw;
    color: black;
    padding: 90px 90px 0 90px;
}

.project-header {
    text-align: center;
}
/* END Project Containers */

/* Img Galleries */
#project-one-photos, #project-two-photos {
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-count: 3;
    -moz-column-gap: 40px;
    column-count: 3;
    column-gap: 40px;
}

#project-one-photos img, #project-two-photos img {
    width: 100% !important;
    height: auto !important;
    padding-top: 40px;
}
/* END Img Galleries */

/* Text on project pages */
.project-text h2 {
    font-family: abril-fatface, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
}

.project-text h3 {
    text-align: center;
    font-family: aileron, sans-serif;
    color: #efa484;
    font-weight: 100;
    font-size: 20px;
    padding: 0%;
}

.project-text p {
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: black;
    text-align: justify;
}

.project-text-2 h2 {
    font-family: abril-fatface, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
}

.project-text-2 h3 {
    text-align: center;
    font-family: aileron, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 20px;
    padding: 0%;
}

.project-text-2 p {
    font-family: aileron, sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: black;
    text-align: justify;
}

#project-two {
    background-color: #efa484;
}
/* END Text on project pages */

/* Media Queries */

@media screen and (max-width: 1024px) {
    .sub-heading {
        bottom: 9%;
    }

}

@media screen and (max-width: 767px) {

    .left-heading {
        font-size: 50px;
        width: 43px;
        top: 100px;
    }

    .right-heading {
        font-size: 50px;
        right: -7px;
    }

}

@media screen and (max-width: 480px) {

    .main-heading {
        font-size: 31px;
        bottom: 9%;
    }

    .sub-heading {
        line-height: 28px;
        font-size: 11px;
        bottom: 0%;
    }

    .left-heading {
        font-size: 30px;
        width: 26px;
        top: 95px;
    }

    .right-heading {
        font-size: 30px;
        right: -4px;
        bottom: 43%;
        height: 26px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {
        font-size: 15px;
    }

    
}
/* END Media Queries */

